.items_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px 20px;
}

.search_list {
    max-height: calc(100vh - 231px);
    width: 100%;
    overflow: auto;
}