.button {
    height: 40px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    transition: all 0.3s ease-out;
}