.main {
    width: auto;
    margin: 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

@media (max-width: 768px) {
    .main {
        gap: 32px;
    }
}